:root {
	--font: Arial;
	--cinza-fundo: #f7f7f7;
	--cinza-texto: #c6c6c6;
	--vermelho: #ee2211;
}

body {
	background-color: var(--cinza-fundo);
	font-family: var(--font);
	height: 1000px;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p, h1, h2, h3, span {
  margin: 0;
}

header {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
  margin-top: 50px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
	gap: 20px;
}

nav a, .info a {
	background-color: #fff;
	border-radius: 5px;
	color:black;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 950px;
  margin: 0 auto;
}

.info {
  text-align: right;
  padding: 40px;
  display: grid;
  gap: 20px;
  align-content: center;
  place-items: end;
  background-color: white;
}

.info a {
  background-color: var(--vermelho);
  color: white;
}

.bike-img {
  width: 100%;
}

.title-advantages {
  padding: 40px;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  align-self: center;
}

.card-advantages {
  background-color: white;
  padding: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.item .title {
  font-weight: bold;
  margin: 0;
}

.item img {
  align-self: flex-start;
}

.item .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

footer {
  margin-top: 50px;
  background-color: white;
  padding: 45px;
  box-sizing: border-box;
  width: 100%;
}

footer p {
  text-align: center;
}