:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--font: Arial;
	--cinza-fundo: #f7f7f7;
	--cinza-texto: #c6c6c6;
	--vermelho: #ee2211;
}

body {
	background-color: var(--cinza-fundo);
	font-family: var(--font);
	height: 1000px;
}

p {
	font-size: 20px;
}

header {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
}

header img {
	margin-top: 50px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
	gap: 20px;
}

nav a, .info a {
	background-color: #fff;
	border-radius: 5px;
	color:black;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.card-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 950px;
	margin: 0 auto;
}

.info {
	background-color: #fff;
	display: grid;
	align-content: center;
	padding: 0 20px;
}

.info h1, p, a {
	align-self: center;
	justify-self: end;
}

.info p {
	text-align: right;
}

.info a {
	color: white;
	background-color: var(--vermelho);
}

.bike-img img {
	max-width: 100%;
}