:root {
	--font: Arial;
	--cinza-fundo: #f7f7f7;
	--cinza-texto: #c6c6c6;
	--vermelho: #ee2211;
}

body {
  background-color: var(--cinza-fundo);
	box-sizing: border-box;
	font-family: var(--font);
	height: 1000px;
  margin: 0;
	padding: 0;
}

p, 
h1, 
h3, 
span {
  margin: 0;
}

header {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 50px;
	justify-content: center;
  margin-top: 50px;
}

nav {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	margin-bottom: 50px;
}

nav a, .info a {
	background-color: #fff;
	border-radius: 5px;
	color:black;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
}

.line {
  background-color: var(--vermelho);
  height: 3px;
  left: 475px;
  position: absolute;
  top: 30px;
  width: 50px;
}

.info {
  align-content: center;
  background-color: white;
  display: grid;
  gap: 20px;
  padding: 40px;
  place-items: end;
  position: relative;
  text-align: right;
}

.info a {
  background-color: var(--vermelho);
  color: white;
}

.photo-bike {
  width: 100%;
}

.title {
  align-self: center;
  color: rgba(0, 0, 0, 0.2);
  font-size: 60px;
  font-weight: 600;
  padding: 40px;
  text-align: right;
  text-transform: uppercase;
}

.advantages {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.item {
  align-items: flex-start;
  display: flex;
  gap: 20px;
}

.item .title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.item img {
  align-self: flex-start;
}

.item .text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  background-color: white;
  box-sizing: border-box;
  margin-top: 50px;
  padding: 45px;
  width: 100%;
}

footer p {
  text-align: center;
}